<%= render 'layouts/members_header' %>

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h3>新規会員登録</h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <br />
      <form class="form-inline">
      <div class="form-group row">
      <div class="col-sm-3">
        <%= f.label :（姓） %>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" ,class:"form-control" %>
      </div>
      <div class="col-sm-3">
        <%= f.label :（名）%>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:"form-control" %>
      </div>
      </div>
      <div class="form-group row">
      <div class="col-sm-3">
        <%= f.label :（セイ）%>
        <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana",class:"form-control" %>
      </div>
      <div class="col-sm-3">
       <%= f.label :（メイ）%>
       <%= f.text_field :first_name_kana, autofocus: true, autocomplete: " first_name_kana",class:"form-control" %>
     </div>
      </div>

         <div class="form-group row">
        <div class="col-sm-3">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autocomplete: "email", class:"form-control" %>
        </div>
        </div>

      <div class="form-group row">
        <div class="col-sm-3">
        <%= f.label :郵便番号（ハイフンなし）%>
        <%= f.text_field :postcode, autocomplete: "postcode", class:"form-control" %>
        </div>
     </div>

      <div class="form-group row">
        <div class="col-sm-6">
        <%= f.label :住所%>
        <%= f.text_field :address, autocomplete: "address", class:"form-control" %>
        </div>
      </div>

        <div class="form-group row">
        <div class="col-sm-3">
        <%= f.label :電話番号（ハイフンなし）%>
        <%= f.text_field :phone_number, autocomplete: "phone_number", class:"form-control" %>
        </div>
        </div>

     <div class="form-group row">
        <div class="col-sm-3">
        <%= f.label :パスワード（6文字以上）%>
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" ,class:"form-control"%>
        </div>
      </div>

      <div class="form-group row">
      <div class="col-sm-3">
        <%= f.label :パスワード（確認用）%><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class:"form-control" %>
      </div>
    </div>
    <div class="actions">
      <br /><%= f.submit "新規登録", class: "btn btn-success col-xs-3" %>
    </div>
    <% end %>
  </form>

    <div class="row">
    <br><br><h4 class="col-xs-12">既に登録済みの方は</h4>
    <div class="col-xs-4">
    <p class="col-xs-11 col-xs-offset-1"><%= link_to "こちら", member_session_path%>からログインしてください。</p>
    </div>
    </div>

</div>
</div>
</div>
<%= render 'layouts/members_footer' %>
