<%= render 'layouts/admins_header' %>

<div class="container" style="margin-bottom: 70px;">
	<h3>注文詳細</h3>
	<br><div class="row">
		<div class="col-xs-7 col-xs-offset-0">

			 <table class="table table-bordered">
		          <tbody>
		          	<tr>
		          	  <th width="19%"  style="background-color: #333333; color: white;">購入者</th>
		          	  <td width="75%"><%= link_to @order.name, admin_member_path(@order.member_id) %></td>
		          	</tr>
		            <tr>
		              <th style="background-color: #333333; color: white;">配送先</th>
		              <td>〒<%= @order.postcode %>
		              	<br>住所：<%= @order.address %>
		              	<br>宛名：<%= @order.name %></td>
		            </tr>
		            <tr>
		              <th style="background-color: #333333; color: white;">支払い方法</th>
		              <td><%= @order.payment_method_i18n %></td>
		            </tr>
		            <tr>
		              <th style="background-color: #333333; color: white;">注文状況</th>
		              <td><%= form_for @order,:url => {:controller => :orders,:action => :update} do |f| %>

							<%= f.select :order_status,Order.order_statuses.keys.map{|k| [I18n.t("enums.order.order_status.#{k}"),k]}, class:"form-control" %>
							<%= f.submit "更新", class:" btn btn-primary glyphicon glyphicon-wrench" %>
							<% end %></td>
		            </tr>
		          </tbody>
		        </table>
		</div>
	     <div class="row">
						<div class="col-xs-8">
						      <br><br><table class="table">
						      	<thead>
						      		<tr>
						      			<th>商品名</th>
						      			<th>単価（税込）</th>
						      			<th>数量</th>
						      			<th>小計</th>
						      			<th>製作状況</th>
						      		</tr>
						      	</thead>
						      	<% @order_items.each do |order_item| %>
						      	<tbody>
						      		<tr>
						      		<td><%= order_item.product.name %></td>
						      		<td><%= order_item.price %></td>
						      		<td><%= order_item.quantity %></td>
						      		<td><%= order_item.price * order_item.quantity %></td>
						      		<td><%= form_for(order_item, url:admin_path(order_item), method: :patch) do |f| %>
						      			<div class="form-group">
										<%= f.select :production_status,OrderItem.production_statuses.keys.map{|k| [I18n.t("enums.order_item.production_status.#{k}"),k]} ,class:"form-control"%>
										<%= f.submit "更新", class:" btn btn-primary glyphicon glyphicon-wrench" %>
										<% end %>
										</div>
									</td>
						      		</tr>
						      	</tbody>
						      	<% end %>
						      </table>
						 	 </div>
						<div class="col-xs-4">
							 <br /><br /><br /><br /><table class="table table-bordered">
						          <tbody>
						          	<tr>
						          	  <th width="30%" style="background-color: #333333; color: white;">商品合計</th>
						          	  <td width="50%" class="text-center">
						          	  		<% @order_items.each do |order_item| %>
						          	  		<% sab_total = (order_item.price*order_item.quantity).floor %>
											<% @sum += sab_total %>
											<% end %>
											<%= @sum %>円</td>
						          	</tr>
						            <tr>
						              <th style="background-color: #333333; color: white;">送料</th>
						              <td class="text-center">800円</td>
						            </tr>
						            <tr>
						              <th style="background-color: #333333; color: white;">請求合計金額</th>
						              <td class="text-center">
											<%= (@sum*1.1+800).floor %>円
									  </td>
						            </tr>
						          </tbody>
						        </table>
						</div>
		</div>

	</div>
</div>
