<%= render 'layouts/members_header' %>
<div class="container" style="margin-top: 60px;">
	<div class="row">
		<div class="col-xs-2">
			<%= render 'layouts/genre', genres:@genres %>
		</div>
		<div class="col-xs-10">
			<div style="background: url(/assets/3102265_s.jpg) no-repeat 0% 0%; height: 500px; background-size: cover;" >
				<P class="text-right" style="color: white; padding-top: 30px; padding-right: 95px;font-size: 60px"><strong>Welcome to</strong></p>
				<p class="text-right" style="color: white; font-size: 40px;padding-right: 15px; "><strong>NAGANOCAKE！</strong></p>
				<p class="text-right" style="color: white; padding-top: 245px;">このサイトは、ケーキ販売のECサイトになります。<br/>会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-offset-2 col-xs-10">
			<h3>Pick up</h3>
			<table class="table">
				<tr>
					<% @products.each do |product| %>
					<% if product.genre.active? %>
					<td>
						<%= attachment_image_tag(product,:image,:fill,100,100, fallback: "no_image.jpg") %><br>
						<%= link_to product.name,member_product_path(product),:style=>"color:gray;  text-decoration: none;" %><br>
						<%= (product.price*1.1).floor %>円
					</td>
					<% end %>
					<% end %>
				</tr>
			</table>
		</div>
	</div>
</div>
<%= render 'layouts/members_footer' %>
