<%= render 'layouts/members_header' %>
<div class="container">
	<h3>注文情報確認</h3>
	<div class="row">
		<div class="col-xs-7">
			<table class="table table-bordered">
				<% @cart_items.each do |cart_item| %>
					<tr>
						<th style="background-color: #333;color:#fff;">商品名</th>
						<td><%= attachment_image_tag cart_item.product, :image, :fill, 50, 50,style: "margin-right: 10px;" %><%= cart_item.product.name %></td>
					</tr>
					<tr>
						<th style="background-color: #333;color:#fff;">単価(税込)</th>
						<td><%= (cart_item.product.price*1.1).floor %>円</td>
					</tr>
					<tr>
						<th style="background-color: #333;color:#fff;">数量</th>
						<td><%= cart_item.quantity%></td>
					</tr>
					<tr>
						<th style="background-color: #333;color:#fff;">小計</th>
						<td><%= (cart_item.product.price*1.1*cart_item.quantity).floor %>円
						</td>
						<% sab_total = (cart_item.product.price*1.1*cart_item.quantity).floor %>
						<% @sum += sab_total %>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-5">
			<table class="table table-bordered">
				<tr>
					<th style="background-color: #333;color:#fff;">送料</th>
					<td>800円</td>
				</tr>
				<tr>
					<th style="background-color: #333;color:#fff;">商品合計</th>
					<td><%= @sum %>円</td>
				</tr>
				<tr>
					<th style="background-color: #333;color:#fff;">請求金額</th>
					<td><%= 800+@sum %>円</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-5">
			<table class="table table-bordered">
				<tr>
					<th style="background-color: #333;color:#fff;">支払い方法</th>
					<td><%= @order.payment_method_i18n %></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-7">
			<h3>お届け先住所</h3>
			<table class="table table-bordered">
				<tr>
					<th style="background-color: #333;color:#fff;">氏名</th>
					<td><%= @order.name %></td>
				</tr>
				<tr>
					<th style="background-color: #333;color:#fff;">郵便番号</th>
					<td><%= @order.postcode %></td>
				</tr>
				<tr>
					<th style="background-color: #333;color:#fff;">住所</th>
					<td><%= @order.address %></td>
				</tr>
			</table>
		</div>
		<div class="col-xs-offset-2 col-xs-3" style="margin-top: 120px;">
			<%= form_for(@order, url:member_orders_path, method: :post) do |f| %>
				<%= f.hidden_field :payment_method, :value => @order.payment_method %>
				<%= f.hidden_field :name, :value => @order.name %>
				<%= f.hidden_field :postcode, :value => @order.postcode %>
				<%= f.hidden_field :address, :value => @order.address %>
				<%= f.hidden_field :member_id, :value => current_member.id %>
				<%= hidden_field_tag :select,@select %>
				<%= f.submit '購入確定',class: "btn btn-lg btn-shine",style:"background-color:#ffb6c1;color: #fff;" %>
				<%= link_to '戻る', :back, class: "btn btn-lg btn-danger btn-shine",style: "color: #fff;" %>
			<% end %>
		</div>
	</div>
</div>
<%= render 'layouts/members_footer' %>

