<%= render 'layouts/members_header' %>
<div class="container table-responsive border-none">
	<%= form_with :url => orders_confirm_member_path, local: :true do %>
		<div class="row">
			<div class="col-xs-offset-2 col-xs-8">
				<h2 class="title">注文情報入力</h2>
				<br>
				<table class="table-responsive border-none">
					<tr>
						<th style="width: 47.3%;">
						支払い方法
						</th>
						<td style="padding-left: 10px;padding-top: 5px;">
							<%= radio_button :order_info, :payment_method,:credit_card,checked: "checked" %>
							<%= label :order_info, :payment_method,:クレジットカード %>
						</td>
					</tr>
					<tr>
						<th></th>
						<td style="padding-left: 10px;">
							<%= radio_button :order_info, :payment_method,:bank_transfer %>
							<%= label :order_info, :payment_method,:銀行振込 %>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-offset-2 col-xs-6">
				<table class="table-responsive border-none">
					<tr>
						<th style="width: 30%;">
						お届け先
						</th>
						<td style="padding-top: 30px;padding-bottom: 10px;">
							<%= radio_button :order_info, :address_kind, :self_address,checked: "checked" %>
							<strong>ご自身の住所</strong><br>
							　<%= current_member.postcode %><%= current_member.address %><%= current_member.last_name %><%= current_member.first_name %>
						</td>
					</tr>
					<% if @shipping_addresses.present? %>
					<tr>
						<th></th>
						<td style="padding-bottom: 10px;">
        					<%= radio_button :order_info, :address_kind, :other_address %>
        					<strong>登録済住所から選択</strong><br>
							　<%= collection_select :order_info, :other_address_id, @shipping_addresses.all, :id, :postcode_address_name %>
						</td>
					</tr>
					<% end %>
					<tr>
						<th></th>
						<td style="padding-bottom: 10px;">
							<%= radio_button :order_info, :address_kind, :new_address %>
        					<strong>新しいお届け先</strong><br>
							　郵便番号(ハイフンなし)<%= text_field :order_info, :new_postcode,auto_focus:true,class:"form-control" %>
							　住所<%= text_field :order_info, :new_address,auto_focus:true,class:"form-control" %>
							　宛名<%= text_field :order_info, :new_name,auto_focus:true,class:"form-control" %>
						</td>
					</tr>
				</table>
			</div>
			<div class="col-xs-4 table-responsive border-none" style="margin-top: 265px;text-align:center;">
				<%= submit_tag ("確認画面へ進む"),class: "btn btn-shine btn-lg", style:"background-color:#ffb6c1;color: #fff;" %>
			</div>
		</div>
	<% end %>
</div>
<%= render 'layouts/members_footer' %>