<%= render 'layouts/members_header' %>

<div class="container">
		<h2 class="title">注文履歴詳細画面</h2>
	<div class="row">
		<div class="col-xs-6">
			<h3>注文情報</h3>
			<table class="table table-responsive">
				<tr>
					<th class="product-show-th">注文日</th><td><%= @order.created_at.to_s(:datetime_jp) %></td>
				</tr>
				<tr>
					<th class="product-show-th">配送先</th><td>〒<%= @order.postcode %>
								  <br>住所：<%= @order.address %>
								  <br>宛名：<%= @order.name %></td>
				</tr>
				<tr>
					<th class="product-show-th">支払い方法</th><td><%= @order.payment_method_i18n %></td>
				</tr>
				<tr>
					<th class="product-show-th">注文状況</th><td><%= @order.order_status_i18n %></td>
				</tr>
			</table>
		</div>
		<div class="col-xs-4" style="margin-left:50px;">
			<h3>請求情報</h3>
			<table class="table table-responsive">
				<% @order.order_items.each do |order_item| %>
				<% sab_total = (order_item.product.price*1.1*order_item.quantity).floor %>
				<% @sum += sab_total %>
				<% end %>
				<tr>
					<th class="product-show-th">商品合計</th><td>¥<%= converting_to_jpy(@sum) %></td>
				</tr>
				<tr>
					<th class="product-show-th">配送料</th><td>¥800</td>
				</tr>
				<tr>
					<th class="product-show-th">ご請求額</th><td>¥<%= converting_to_jpy(@sum+800) %></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<h3>注文内容</h3>
			<table class="table table-responsive">
				<tr>
					<th class="product-show-th">商品</th><th class="product-show-th">単価(税込)</th><th class="product-show-th">個数</th><th class="product-show-th">小計</th>
				</tr>
				<% @order.order_items.each do |order_item| %>
				<tr>
					<td><%= order_item.product.name %></td>
					<td>¥<%= converting_to_jpy((order_item.product.price*1.1).floor) %></td>
					<td><%= order_item.quantity %></td>
					<td>¥<%= converting_to_jpy((order_item.product.price*1.1*order_item.quantity).floor) %></td>
				</tr>
				<% end %>
			</table>
		</div>
		<% if @order.payment_method == 'bank_transfer' %>
			<div class="col-xs-6">
				<h3>振込先</h3>
				<table class="table table-responsive">
					<tr>
						<th  width="30%"class="product-show-th" style=" background-color:#f4a460;" >金融機関名</th><td >手洗い銀行</td>
					</tr>
					<tr>
						<th  width="30%"class="product-show-th" style=" background-color:#f4a460;">支店名</th><td >松本駅前支店</td>
					</tr>
					<tr>
						<th  width="30%"class="product-show-th" style=" background-color:#f4a460;">支店番号</th><td >xxx</td>
					</tr>
					<tr>
						<th width="30%" class="product-show-th"style=" background-color:#f4a460;">名義人</th><td >ナガノケーキ</td>
					</tr>
					<tr>
						<th  width="30%"class="product-show-th" style=" background-color:#f4a460;">口座の種類</th><td >普通</td>
					</tr>
					<tr>
						<th class="product-show-th" style=" background-color:#f4a460;">口座番号</th><td >xxxxxxx</td>
					</tr>
				</table>
			</div>
		<% end %>
	</div>
</div>
<%= render 'layouts/members_footer' %>