<%= render 'layouts/members_header' %>

<div class="container">

	<h3>配送先編集</h3>

	<div class="row">
		<%= form_for @shipping_address, url:member_shipping_address_path(@shipping_address.id) do |f| %>

			<table class="">
				<tr>
					<th>郵便番号（ハイフンなし）</th><td><%= f.text_field :postcode,class:"form-control",placeholder: @shipping_address.postcode,size: 40 %></td>
				</tr>
				<tr>
					<th>住所</th><td><%= f.text_field :address,autofocus: true,class:"form-control",placeholder: @shipping_address.address %></td>
				</tr>
				<tr>
					<th>宛名</th><td><%= f.text_field :name,class:"form-control",placeholder: @shipping_address.name %></td>
				</tr>
			</table>
			<div class="row">
				<div class="col-xs-offset-5 col-xs-7">
    				<%= f.submit "編集する " ,class: "btn btn-shine",:style=>"background-color:#ffb6c1;margin-top: 10px;" %>
    	</div>
    	</div>
 		<% end %>
 	</div>
</div>
<%= render 'layouts/members_footer' %>