<%= render 'layouts/members_header' %>
<div class="container">
    <h3>配送一覧/登録</h3>
    <div class="row" style="margin-top: 20px;">


          <div class="col-xs-8">

              <table class='table table-bordered'>
                <thead style="background-color: #333333; color: white;">
                  <tr>
                    <th>郵便番号</th>
                    <th>住所</th>
                    <th>宛名</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @shipping_addresses.each do |shipping_address| %>
                  <tr>
                    <td width="15%">〒<%= shipping_address.postcode %></td>
                    <td width="44%"><%= shipping_address.address %></td>
                    <td width="16%"><%= shipping_address.name %></td>
                    <td width="25%"><%= link_to "編集する",edit_member_shipping_address_path(shipping_address.id)  ,class: "btn-sm btn-primary btn-shine"%><%= link_to "消去する" ,member_shipping_address_path(shipping_address.id) ,class: "btn-sm btn-danger btn-shine" ,method: :delete %></td>
                  </tr>
                  <% end %>
                 </tbody>
               </table>
          </div>
          <div class="col-xs-4">
               <%= form_for @shipping_address, url: member_shipping_addresses_path, method: :post do |f| %>
                       <div class="form-group row">
                        <div class="col-sm-7">
                        <%= f.label :郵便番号（ハイフンなし） %>
                        <%= f.text_field :postcode, autocomplete: "postcode", class:"form-control",placeholder: "5540012" %>
                        </div>
                        </div>

                      <div class="form-group row">
                        <div class="col-sm-10">
                        <%= f.label :住所%>
                        <%= f.text_field :address, autocomplete: "address", class:"form-control",placeholder: "大阪府大阪市此花区" %>
                        </div>
                      </div>

                      <div class="form-group row">
                        <div class="col-sm-6">
                        <%= f.label :宛名%>
                        <%= f.text_field :name, autocomplete: "name", class:"form-control",placeholder: "佐藤太郎" %>
                        </div>
                      </div>

                  <%= f.submit "登録する" ,class: "btn btn-shine" ,:style=>"background-color:#ffb6c1;" %>
                  <% end%>
          </div>

    </div>
  </div>
  <%= render 'layouts/members_footer' %>
