<%= render 'layouts/admins_header' %>

<div class="container table-responsive border-none">
	<h3>商品一覧画面</h3>

	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="text-right">
		<%= link_to "新規商品登録", new_admin_product_path, class:"btn btn-shine btn-lg glyphicon glyphicon-plus", :style=>"background-color:#ffb6c1; border:none;"%>
		</div>
			<br><table class="table">
			<thead>
				<th style="background-color: #333333; color:white;">商品ID</th>
				<th style="background-color: #333333; color:white;">商品名</th>
				<th style="background-color: #333333; color:white;">税抜価格</th>
				<th style="background-color: #333333; color:white;">ジャンル</th>
				<th style="background-color: #333333; color:white;">ステータス</th>
			</thead>
			<tbody>
				<% @products.each do |product| %>
				<tr>
					<td>
						<%= product.id %>
					</td>
					<td>
						<%= link_to product.name,admin_product_path(product) %>
					</td>
					<td>
						¥<%= converting_to_jpy(product.price) %>
					</td>
					<td>
						<%= product.genre.name %>
					</td>
					<td>
						<%= product.sale_status_i18n %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	</div>
	<div class="row" style="text-align: center;">
		<div class="col-xs-12">
			<%= paginate @products%>
		</div>
	</div>
</div>
