<%= render 'layouts/members_header' %>

<div class="container pull-left">
	<div class="row">
		<div class="col-xs-2">
			<div class="panel panel-default">
				<div class="panel-heading" style="background-color: black;">
					<h2 class="panel-title glyphicon glyphicon-th-list" style="color: gray;">ジャンル検索</h2>
				</div>
				<div class="panel-body" style="color:black;">
					<% @genres.each do |genre| %>
					<% if genre.active? %>
					<h4>
						<%=link_to genre.name, member_products_path(genre_id:genre.id),:style=>"color:gray; text-decoration: none;" %>
					</h4>
					<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-xs-10">
			<h2><%= @name %>一覧<small> (全<%= @count %>件)</small></h2>
			<div class="container pull-left table-responsive">
				<table>
					<tr>
						<% @products.each do |product| %>
						<% if product.genre.active? %>
						<% if product.id.odd? %>
						<td>
							<%= link_to member_product_path(product) do %>
							<%= attachment_image_tag(product,:image,:fill,200,200, fallback: "no_image.jpg",style: 'border-radius: 30px;margin-right:30px;' )%>
							<% end %><br>
							<%= link_to product.name,member_product_path(product) %>
							<% if product.is_deleted? %>
							<p style="color: red;"><%= product.sale_status_i18n %></p>
							<% else %>
							<p>¥<%= (product.price*1.1).floor %></p>
							<% end %>
						</td>
						<% end %>
						<% end %>
						<% end %>
					</tr>
					<tr>
						<% @products.each do |product| %>
						<% if product.genre.active? %>
						<% if product.id.even? %>
						<td>
							<%= link_to member_product_path(product) do %>
							<%= attachment_image_tag(product,:image,:fill,200,200, fallback: "no_image.jpg",style: 'border-radius: 30px;' )%>
							<% end %><br>
							<%= link_to product.name,member_product_path(product) %>
							<% if product.is_deleted? %>
							<p style="color:red;"><%= product.sale_status_i18n %></p>
							<% else %>
							<p>¥<%= (product.price*1.1).floor %></p>
							<% end %>
						</td>
						<% end %>
						<% end %>
						<% end %>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<%= render 'layouts/members_footer' %>