<%= render 'layouts/members_header' %>

<div class="container table-responsive border-none">
	<div class="row">
		<div class="col-xs-3">
			<%= render 'layouts/genre', genres:@genres %>
		</div>
		<div class="col-xs-9 table-responsive border-none">
			<h2 class="title"><%= @name %>一覧<small> (全<%= @count %>件)</small></h2>
			<div class="row table-responsive border-none">
					<% @products.each do |product| %>
						<% if product.genre.active?%>
							<div class="product col-xs-4">
								<%= link_to member_product_path(product) do %>
									<%= attachment_image_tag(product,:image,:fill,150,150, fallback: "/assets/no_image.png",style: 'border-radius: 30px;margin-right: 10px;' )%>
								<% end %><br>
								<%= link_to product.name,member_product_path(product) %><%= @num %>
								<% if product.is_deleted? %>
									<p style="color:red;"><%= product.sale_status_i18n %></p>
								<% else %>
									<p>¥<%= converting_to_jpy((product.price*1.1).floor) %></p>
								<% end %>
							</div>
						<% end %>

					<% end %>
			</div>
			<div class="row">
				<div class="col-xs-12" style="text-align: center;">
					<%= paginate @products %>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/members_footer' %>