<%= render 'layouts/members_header' %>

<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<h3>ジャンル検索</h3>

			<% @genres.each do |genre| %>
				<% if genre.active? %>
					<h4>
						<%=link_to genre.name, member_products_path(genre_id:genre.id) %>
					</h4>
				<% end %>
			<% end %>
		</div>
		<div class="col-xs-10">
			<h1><%= @name %>一覧<small> (全<%= @count %>件)</small></h1>
			<% @products.each do |product| %>
					<% if product.genre.active? %>
				<table class="table">
					<tr>
						<td>
							<%= attachment_image_tag(product,:image,:fill,100,100, fallback: "no_image.jpg") %><br>
							<%= link_to product.name,member_product_path(product) %><br>
							<% if product.active? %>
							<% else %>
							<strong><%= product.sale_status_i18n %></strong>
							<% end %>

							<p>¥<%= (product.price*1.1).floor %></p>
						</td>
					</tr>
				</table>
				<% end %>
			<% end %>
		</div>
	</div>
</div>