<%= render 'layouts/members_header' %>

<div class="container">
	<div class="row">
		<div class="col-xs-3">
		    <%= render 'layouts/genre', genres:@genres %>
		</div>
		<div class="col-xs-offset-1 col-xs-4 table-responsive border-none">
			<%= attachment_image_tag(@product,:image,:fill,200,200, fallback: "no_image.jpg",style: "border-radius: 30px;") %>
		</div>
		<div class="col-xs-4 table-responsive border-none">
			<h3><%= @product.name %></h3><br>
			<p><%= @product.introduction %></p><br>
			<h3>¥ <%= converting_to_jpy((@product.price*1.1).floor) %><small>(税込)</small></h3>
            <% if member_signed_in? %>
           		<% if @product.active? %>
            		<%= form_for(@cart_item, url:member_cart_items_path) do |f| %>
            			<table>
            				<tr>
            					<th style="font-size:16px;">数量: </th>
            					<td width="30%">
            						<div class="select-wrap select-circle">
            							<%= f.select 'quantity',options_for_select((1..20.to_i)) %>
									</div>
								</td>
								<td>
									<%= f.hidden_field :product_id, :value => @product.id %>
									<%= f.hidden_field :member_id, :value => current_member.id %>
									<%= f.submit 'カートに入れる',class: "btn btn-shine btn-primary", style: "background-color: #ffb6c1;"%>
								</td>
							</tr>
						</table>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
<%= render 'layouts/members_footer' %>