<%= render 'layouts/members_header' %>

<div class="container pull-left table-responsive">
	<div class="row">
		<div class="col-xs-2">
			<div class="panel panel-default">
				<div class="panel-heading" style="background-color: black;">
					<h2 class="panel-title glyphicon glyphicon-th-list" style="color: gray;">ジャンル検索</h2>
				</div>
				<div class="panel-body" style="color:black;">
					<% @genres.each do |genre| %>
					<% if genre.active? %>
					<h4>
						<%=link_to genre.name, member_products_path(genre_id:genre.id),:style=>"color:gray; text-decoration: none;" %>
					</h4>
					<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-xs-7" style="padding-left: 30px; margin-top: 100px;">
			<br>
			<%= attachment_image_tag(@product,:image,:fill,300,300, fallback: "no_image.jpg",style: "border-radius: 30px;margin-left: 100px;margin-top: 30px;") %>
		</div>
		<div class="col-xs-3" style="margin-top: 150px;">
			<h3><%= @product.name %></h3><br>
			<p><%= @product.introduction %></p><br>
			<h3>¥ <%= (@product.price*1.1).floor %><small>(税込)</small></h3>
            <% if member_signed_in? %>
           		<% if @product.active? %>
            		<%= form_for(@cart_item, url:member_cart_items_path) do |f| %>
						<%= f.select 'quantity',options_for_select([['個数選択',''],[1],[2],[3],[4],[5],[6],[7],[8],[9],[10]]), class: "selectpicker form-inline" %>
						<%= f.hidden_field :product_id, :value => @product.id %>
						<%= f.hidden_field :member_id, :value => current_member.id %>
						<%= f.submit 'カートに入れる',class: "btn btn-primary" %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>