<div class="header" style="margin-bottom:50px;">
    <header style="width: 100%;">
    <nav class="navbar navbar-default">
        <%= link_to root_path do %><img alt="LOGO" src="/assets/logo2.png" style="height: 150px; width: 280px; position: relative; ,margin-left: 20px;"><% end %>
    <div class="container-fluid" style="margin-left: 30px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                ながのCAKE管理者サイト
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbarEexample7">
            <% if admin_signed_in? %>
            <ul class="nav navbar-nav">
                <li><%= link_to "トップページ",admin_root_path %></li>
                <li><%= link_to "商品一覧",admin_products_path %></li>
                <li><%= link_to "会員一覧", admin_members_path %></li>
                <li><%= link_to "注文履歴一覧", admin_orders_path %></li>
                <li><%= link_to "ジャンル管理", admin_genres_path %></li>
                <li><%= link_to "ログアウト" ,destroy_admin_session_path, method: :delete %></li>
            </ul>
            <% end %>
        </div>
    </div>
</nav>

</header>
</div>
