
<header style="margin-bottom: 70px;">
	<div class="jumbotron" style="background:url(/assets/header2.jpg); height: 350px; background-size: cover; margin-bottom:0px;">
			<img alt="LOGO" src="/assets/logo2.png" style="height: 300px; position: relative;">
	</div>

	<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

		</div>
		<div class="collapse navbar-collapse" id="navbarEexample7">
			<ul class="nav navbar-nav">
				<li><%= link_to " ホーム", root_path, class:"glyphicon glyphicon-home" %></li>
				<% if member_signed_in? %>
				<li><%= link_to " マイページ",member_path, class:"glyphicon glyphicon-user" %></li>
				<li><%= link_to " 商品一覧", member_products_path ,class:"glyphicon glyphicon-cutlery"

%></li>
				<li><%= link_to " カート", member_cart_items_path, class:"glyphicon glyphicon-shopping-cart"%></li>
				<li><%= link_to " ログアウト", destroy_member_session_path, method: :delete ,class:"glyphicon glyphicon-log-out" %></li>

				<% else %>
				<li><%= link_to " お店紹介 ", home_about_path, class:"glyphicon glyphicon-link" %></li>
                <li><%= link_to " 商品一覧 " , member_products_path ,class:"glyphicon glyphicon-cutlery"%></li>
                <li><%= link_to " 新規登録 " , new_member_registration_path, class:"glyphicon glyphicon-edit" %></li>
                <li><%= link_to " ログイン" , new_member_session_path, class:"glyphicon glyphicon-log-in" %></li>
                <% end %>
			</ul>

				<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="検索キーワード">
				</div>
				<button type="submit" class="btn btn-default">検索</button>
				</form>

		</div>
	</div>
</nav>
</header>


