    <%= render 'layouts/members_header' %>

<div class="container">
  <div class="row">

      <div class="col-md-8 col-md-offset-1">
                  <h2 class="title">登録情報編集</h3>
             <%= form_for(@member) do |f| %>
            <!-- エラーメッセージ表示-->
              <% if @member.errors.any? %>
                <h3><%= @member.errors.count %>件のエラーがあります</h3><!--エラーメッセ-->
                <ul>
                  <% @member.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
                </ul>
              <% end %>
      <div class="row">
      <br />
      <form class="form-inline">
      <div class="form-group row">
      <div class="col-sm-3">
        <%= f.label :（姓） %>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" ,class:"form-control" %>
      </div>
      <div class="col-sm-3">
        <%= f.label :（名）%>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:"form-control" %>
      </div>
      </div>
      <div class="form-group row">
      <div class="col-sm-3">
        <%= f.label :（セイ）%>
        <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana",class:"form-control" %>
      </div>
      <div class="col-sm-3">
       <%= f.label :（メイ）%>
       <%= f.text_field :first_name_kana, autofocus: true, autocomplete: " first_name_kana",class:"form-control" %>
     </div>
      </div>

         <div class="form-group row">
        <div class="col-sm-3">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autocomplete: "email", class:"form-control" %>
        </div>
        </div>

      <div class="form-group row">
        <div class="col-sm-3">
        <%= f.label :郵便番号（ハイフンなし）%>
        <%= f.text_field :postcode, autocomplete: "postcode", class:"form-control" %>
        </div>
     </div>

      <div class="form-group row">
        <div class="col-sm-6">
        <%= f.label :住所%>
        <%= f.text_field :address, autocomplete: "address", class:"form-control" %>
        </div>
      </div>

        <div class="form-group row">
        <div class="col-sm-3">
        <%= f.label :電話番号（ハイフンなし）%>
        <%= f.text_field :phone_number, autocomplete: "phone_number", class:"form-control" %>
        </div>
        </div>
        </div>


            <br><div class="row">
              <div class="col-xs-4">
                  <span>
                  <%= f.submit "編集内容を保存する", class:"col-3 btn btn-primary col-xs-12" %>
                  </span>
                </div>
                <div class="col-xs-2">
                  <span>
                    <%= link_to '退会する', cancel_member_path ,class:"col-3 btn btn-danger col-xs-12" %>
                  </span>
                </div>
                <% end %>
              </div>
          </form>

          <div class="row">
              <br><p>※メールアドレスをご変更の際は、こちらがお送りします確認メールのリンクをクリックしていただき変更完了となります。</p>
          </div>

        </div>
   </div>
</div>
<%= render 'layouts/members_footer' %>
