<%= render 'layouts/members_header' %>

    <div class="container">
      <h2 class="member-headline title">マイページ</h2>
      <div class="row">
        <h4>登録情報</h4>

        <span style="margin-left: 20px;">
          <%= link_to "編集する", edit_member_path, class:"col-3 btn btn-primary btn-shine glyphicon glyphicon-wrench", :style=> "border:none;" %>
        </span>
        <span>
          <%= link_to "パスワードを変更する", edit_member_password_path, class:"col-5
           btn btn-primary btn-shine glyphicon glyphicon-wrench", :style=>"border:none; margin:10px;" %>
        </span>
        <p> </p>
        <div class="col-xs-7">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th width="20%" style="background-color: #333333; color: white;">氏名</th>
              <td width="80%"><%= @member.last_name %> <%= @member.first_name %></td>
            </tr>
            <tr>
              <th style="background-color: #333333; color: white;">カナ</th>
              <td><%= @member.last_name_kana %> <%= @member.first_name_kana %></td>
            </tr>
            <tr>
              <th style="background-color: #333333; color: white;">郵便番号</th>
              <td><%= @member.postcode %></td>
            </tr>
            <tr>
              <th style="background-color: #333333; color: white;">住所</th>
              <td><%= @member.address %></td>
            </tr>
            <tr>
              <th style="background-color: #333333; color: white;">電話番号</th>
              <td><%= @member.phone_number %></td>
            </tr>
            <tr>
              <th style="background-color: #333333; color: white;">メールアドレス</th>
              <td><%= @member.email %></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

      <div class="row">
      <div class="col-xs-5">
        <table class="table table-noborder" style="border-top:0px !important;">
          <tr>
            <th width=30%><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 配送先</th>
            <td width=70%><%= link_to "一覧を見る", member_shipping_addresses_path, class:"col-3 btn btn-shine", :style=>"background-color:#ffb6c1; border:none;" %>
            </th>
          </tr>

          <tr>
            <th><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 注文履歴</th>
            <td><%= link_to "一覧を見る", member_orders_path, class:"col-3 btn btn-shine ", :style=>"background-color:#ffb6c1; border:none;" %></th>
          </tr>
        </table>
      </div>
      </div>
      </div>
    </div>
<%= render 'layouts/members_footer' %>
